@import "tailwindcss";
@import "tw-animate-css";
@import "@jeongrae/ui/styles/shadcn.css";
@import "@jeongrae/ui/styles/foundation.css";
@import "./theme.css";

@source "../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));
