@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-strong: var(--text-strong);
  --color-text-muted: var(--text-muted);
  --color-text-subtle: var(--text-subtle);
  --color-text-inverse: var(--text-inverse);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-hero: var(--hero);
  --color-hero-foreground: var(--hero-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --color-shark-50: hsl(0, 0%, 96%);
  --color-shark-100: hsl(0, 0%, 90%);
  --color-shark-200: hsl(0, 0%, 80%);
  --color-shark-300: hsl(0, 0%, 70%);
  --color-shark-400: hsl(0, 0%, 55%);
  --color-shark-500: hsl(0, 0%, 40%);
  --color-shark-600: hsl(0, 0%, 30%);
  --color-shark-700: hsl(0, 0%, 20%);
  --color-shark-800: hsl(0, 0%, 15%);
  --color-shark-900: hsl(0, 0%, 10%);
  --color-shark-950: hsl(0, 0%, 5%);
  --color-neutral-50: oklch(0.99 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.92 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.72 0 0);
  --color-neutral-500: oklch(0.56 0 0);
  --color-neutral-600: oklch(0.44 0 0);
  --color-neutral-700: oklch(0.37 0 0);
  --color-neutral-800: oklch(0.27 0 0);
  --color-neutral-900: oklch(0.2 0 0);
  --color-neutral-950: oklch(0.14 0 0);
  --color-stone-50: oklch(0.98 0 106);
  --color-stone-100: oklch(0.97 0 106);
  --color-stone-200: oklch(0.92 0 49);
  --color-stone-300: oklch(0.87 0 56);
  --color-stone-400: oklch(0.72 0.01 56);
  --color-stone-500: oklch(0.55 0.01 58);
  --color-stone-600: oklch(0.44 0.01 74);
  --color-stone-700: oklch(0.37 0.01 68);
  --color-stone-800: oklch(0.27 0.01 34);
  --color-stone-900: oklch(0.22 0.01 56);
  --color-stone-950: oklch(0.15 0 49);
  --color-zinc-50: oklch(0.99 0 0);
  --color-zinc-100: oklch(0.97 0 286);
  --color-zinc-200: oklch(0.92 0 286);
  --color-zinc-300: oklch(0.87 0.01 286);
  --color-zinc-400: oklch(0.71 0.01 286);
  --color-zinc-500: oklch(0.55 0.01 286);
  --color-zinc-600: oklch(0.44 0.01 286);
  --color-zinc-700: oklch(0.37 0.01 286);
  --color-zinc-800: oklch(0.27 0.01 286);
  --color-zinc-900: oklch(0.21 0.01 286);
  --color-zinc-950: oklch(0.14 0 286);
  --color-slate-50: oklch(0.98 0 248);
  --color-slate-100: oklch(0.97 0.01 248);
  --color-slate-200: oklch(0.93 0.01 256);
  --color-slate-300: oklch(0.87 0.02 253);
  --color-slate-400: oklch(0.71 0.04 257);
  --color-slate-500: oklch(0.55 0.04 257);
  --color-slate-600: oklch(0.45 0.04 257);
  --color-slate-700: oklch(0.37 0.04 257);
  --color-slate-800: oklch(0.28 0.04 260);
  --color-slate-900: oklch(0.21 0.04 266);
  --color-slate-950: oklch(0.13 0.04 265);
  --color-gray-50: oklch(0.98 0 248);
  --color-gray-100: oklch(0.97 0 265);
  --color-gray-200: oklch(0.93 0.01 265);
  --color-gray-300: oklch(0.87 0.01 258);
  --color-gray-400: oklch(0.71 0.02 261);
  --color-gray-500: oklch(0.55 0.02 264);
  --color-gray-600: oklch(0.45 0.03 257);
  --color-gray-700: oklch(0.37 0.03 260);
  --color-gray-800: oklch(0.28 0.03 257);
  --color-gray-900: oklch(0.21 0.03 265);
  --color-gray-950: oklch(0.13 0.03 262);
  --color-red-50: oklch(0.97 0.01 17);
  --color-red-100: oklch(0.94 0.03 18);
  --color-red-200: oklch(0.88 0.06 18);
  --color-red-300: oklch(0.81 0.1 20);
  --color-red-400: oklch(0.71 0.17 22);
  --color-red-500: oklch(0.64 0.21 25);
  --color-red-600: oklch(0.58 0.22 27);
  --color-red-700: oklch(0.51 0.19 28);
  --color-red-800: oklch(0.44 0.16 27);
  --color-red-900: oklch(0.4 0.13 26);
  --color-red-950: oklch(0.26 0.09 26);
  --color-orange-50: oklch(0.98 0.02 74);
  --color-orange-100: oklch(0.95 0.04 75);
  --color-orange-200: oklch(0.9 0.07 71);
  --color-orange-300: oklch(0.84 0.12 66);
  --color-orange-400: oklch(0.76 0.16 56);
  --color-orange-500: oklch(0.7 0.19 48);
  --color-orange-600: oklch(0.65 0.19 41);
  --color-orange-700: oklch(0.55 0.17 38);
  --color-orange-800: oklch(0.47 0.14 37);
  --color-orange-900: oklch(0.41 0.12 38);
  --color-orange-950: oklch(0.27 0.08 36);
  --color-amber-50: oklch(0.99 0.02 95);
  --color-amber-100: oklch(0.96 0.06 96);
  --color-amber-200: oklch(0.92 0.12 96);
  --color-amber-300: oklch(0.88 0.15 92);
  --color-amber-400: oklch(0.84 0.16 84);
  --color-amber-500: oklch(0.77 0.16 70);
  --color-amber-600: oklch(0.67 0.16 58);
  --color-amber-700: oklch(0.56 0.15 49);
  --color-amber-800: oklch(0.47 0.12 46);
  --color-amber-900: oklch(0.41 0.11 46);
  --color-amber-950: oklch(0.28 0.07 46);
  --color-yellow-50: oklch(0.99 0.03 102);
  --color-yellow-100: oklch(0.97 0.07 103);
  --color-yellow-200: oklch(0.95 0.12 102);
  --color-yellow-300: oklch(0.91 0.17 98);
  --color-yellow-400: oklch(0.86 0.17 92);
  --color-yellow-500: oklch(0.8 0.16 86);
  --color-yellow-600: oklch(0.68 0.14 76);
  --color-yellow-700: oklch(0.55 0.12 66);
  --color-yellow-800: oklch(0.48 0.1 62);
  --color-yellow-900: oklch(0.42 0.09 58);
  --color-yellow-950: oklch(0.29 0.06 54);
  --color-lime-50: oklch(0.99 0.03 121);
  --color-lime-100: oklch(0.97 0.07 122);
  --color-lime-200: oklch(0.94 0.12 124);
  --color-lime-300: oklch(0.9 0.18 127);
  --color-lime-400: oklch(0.85 0.21 129);
  --color-lime-500: oklch(0.77 0.2 131);
  --color-lime-600: oklch(0.65 0.18 132);
  --color-lime-700: oklch(0.53 0.14 132);
  --color-lime-800: oklch(0.45 0.11 131);
  --color-lime-900: oklch(0.41 0.1 131);
  --color-lime-950: oklch(0.27 0.07 132);
  --color-green-50: oklch(0.98 0.02 156);
  --color-green-100: oklch(0.96 0.04 157);
  --color-green-200: oklch(0.93 0.08 156);
  --color-green-300: oklch(0.87 0.14 154);
  --color-green-400: oklch(0.8 0.18 152);
  --color-green-500: oklch(0.72 0.19 150);
  --color-green-600: oklch(0.63 0.17 149);
  --color-green-700: oklch(0.53 0.14 150);
  --color-green-800: oklch(0.45 0.11 151);
  --color-green-900: oklch(0.39 0.09 153);
  --color-green-950: oklch(0.27 0.06 153);
  --color-emerald-50: oklch(0.98 0.02 166);
  --color-emerald-100: oklch(0.95 0.05 163);
  --color-emerald-200: oklch(0.9 0.09 164);
  --color-emerald-300: oklch(0.85 0.13 165);
  --color-emerald-400: oklch(0.77 0.15 163);
  --color-emerald-500: oklch(0.7 0.15 162);
  --color-emerald-600: oklch(0.6 0.13 163);
  --color-emerald-700: oklch(0.51 0.1 166);
  --color-emerald-800: oklch(0.43 0.09 167);
  --color-emerald-900: oklch(0.38 0.07 169);
  --color-emerald-950: oklch(0.26 0.05 173);
  --color-teal-50: oklch(0.98 0.01 181);
  --color-teal-100: oklch(0.95 0.05 181);
  --color-teal-200: oklch(0.91 0.09 180);
  --color-teal-300: oklch(0.85 0.13 181);
  --color-teal-400: oklch(0.78 0.13 182);
  --color-teal-500: oklch(0.7 0.12 183);
  --color-teal-600: oklch(0.6 0.1 185);
  --color-teal-700: oklch(0.51 0.09 186);
  --color-teal-800: oklch(0.44 0.07 188);
  --color-teal-900: oklch(0.39 0.06 188);
  --color-teal-950: oklch(0.28 0.04 193);
  --color-cyan-50: oklch(0.98 0.02 201);
  --color-cyan-100: oklch(0.96 0.04 203);
  --color-cyan-200: oklch(0.92 0.08 205);
  --color-cyan-300: oklch(0.87 0.12 207);
  --color-cyan-400: oklch(0.8 0.13 212);
  --color-cyan-500: oklch(0.71 0.13 215);
  --color-cyan-600: oklch(0.61 0.11 222);
  --color-cyan-700: oklch(0.52 0.09 223);
  --color-cyan-800: oklch(0.45 0.08 224);
  --color-cyan-900: oklch(0.4 0.07 227);
  --color-cyan-950: oklch(0.3 0.05 230);
  --color-sky-50: oklch(0.98 0.01 237);
  --color-sky-100: oklch(0.95 0.03 237);
  --color-sky-200: oklch(0.9 0.06 231);
  --color-sky-300: oklch(0.83 0.1 230);
  --color-sky-400: oklch(0.75 0.14 233);
  --color-sky-500: oklch(0.68 0.15 237);
  --color-sky-600: oklch(0.59 0.14 242);
  --color-sky-700: oklch(0.5 0.12 243);
  --color-sky-800: oklch(0.44 0.1 241);
  --color-sky-900: oklch(0.39 0.08 241);
  --color-sky-950: oklch(0.29 0.06 243);
  --color-blue-50: oklch(0.97 0.01 255);
  --color-blue-100: oklch(0.93 0.03 256);
  --color-blue-200: oklch(0.88 0.06 254);
  --color-blue-300: oklch(0.81 0.1 252);
  --color-blue-400: oklch(0.71 0.14 255);
  --color-blue-500: oklch(0.62 0.19 260);
  --color-blue-600: oklch(0.55 0.22 263);
  --color-blue-700: oklch(0.49 0.22 264);
  --color-blue-800: oklch(0.42 0.18 266);
  --color-blue-900: oklch(0.38 0.14 266);
  --color-blue-950: oklch(0.28 0.09 268);
  --color-indigo-50: oklch(0.96 0.02 272);
  --color-indigo-100: oklch(0.93 0.03 273);
  --color-indigo-200: oklch(0.87 0.06 274);
  --color-indigo-300: oklch(0.79 0.1 275);
  --color-indigo-400: oklch(0.68 0.16 277);
  --color-indigo-500: oklch(0.59 0.2 277);
  --color-indigo-600: oklch(0.51 0.23 277);
  --color-indigo-700: oklch(0.46 0.21 277);
  --color-indigo-800: oklch(0.4 0.18 277);
  --color-indigo-900: oklch(0.36 0.14 279);
  --color-indigo-950: oklch(0.26 0.09 281);
  --color-violet-50: oklch(0.97 0.02 294);
  --color-violet-100: oklch(0.94 0.03 295);
  --color-violet-200: oklch(0.89 0.05 293);
  --color-violet-300: oklch(0.81 0.1 294);
  --color-violet-400: oklch(0.71 0.16 294);
  --color-violet-500: oklch(0.61 0.22 293);
  --color-violet-600: oklch(0.54 0.25 293);
  --color-violet-700: oklch(0.49 0.24 293);
  --color-violet-800: oklch(0.43 0.21 293);
  --color-violet-900: oklch(0.38 0.18 294);
  --color-violet-950: oklch(0.28 0.14 291);
  --color-purple-50: oklch(0.98 0.01 308);
  --color-purple-100: oklch(0.95 0.03 307);
  --color-purple-200: oklch(0.9 0.06 307);
  --color-purple-300: oklch(0.83 0.11 306);
  --color-purple-400: oklch(0.72 0.18 306);
  --color-purple-500: oklch(0.63 0.23 304);
  --color-purple-600: oklch(0.56 0.25 302);
  --color-purple-700: oklch(0.5 0.24 302);
  --color-purple-800: oklch(0.44 0.2 304);
  --color-purple-900: oklch(0.38 0.17 305);
  --color-purple-950: oklch(0.29 0.14 303);
  --color-fuchsia-50: oklch(0.98 0.02 320);
  --color-fuchsia-100: oklch(0.95 0.04 319);
  --color-fuchsia-200: oklch(0.9 0.07 320);
  --color-fuchsia-300: oklch(0.83 0.13 321);
  --color-fuchsia-400: oklch(0.75 0.21 322);
  --color-fuchsia-500: oklch(0.67 0.26 322);
  --color-fuchsia-600: oklch(0.59 0.26 323);
  --color-fuchsia-700: oklch(0.52 0.23 324);
  --color-fuchsia-800: oklch(0.45 0.19 325);
  --color-fuchsia-900: oklch(0.4 0.16 326);
  --color-fuchsia-950: oklch(0.29 0.13 326);
  --color-pink-50: oklch(0.97 0.01 343);
  --color-pink-100: oklch(0.95 0.03 342);
  --color-pink-200: oklch(0.9 0.06 343);
  --color-pink-300: oklch(0.82 0.11 346);
  --color-pink-400: oklch(0.73 0.18 350);
  --color-pink-500: oklch(0.66 0.21 354);
  --color-pink-600: oklch(0.59 0.22 1);
  --color-pink-700: oklch(0.52 0.2 4);
  --color-pink-800: oklch(0.46 0.17 4);
  --color-pink-900: oklch(0.41 0.14 2);
  --color-pink-950: oklch(0.28 0.1 4);
  --color-rose-50: oklch(0.97 0.02 12);
  --color-rose-100: oklch(0.94 0.03 13);
  --color-rose-200: oklch(0.89 0.06 10);
  --color-rose-300: oklch(0.81 0.11 12);
  --color-rose-400: oklch(0.72 0.17 13);
  --color-rose-500: oklch(0.65 0.22 16);
  --color-rose-600: oklch(0.59 0.22 18);
  --color-rose-700: oklch(0.51 0.2 17);
  --color-rose-800: oklch(0.45 0.17 14);
  --color-rose-900: oklch(0.41 0.15 10);
  --color-rose-950: oklch(0.27 0.1 12);
}
